{% extends 'base.html' %}

{% block title %}Set your new password{% endblock %}

{% block content %}

    <div>
        <div class="centralize">
            <h1>Set your new password</h1>
        </div>
    
        <div class="col-md-6 offset-md-3">
            {% if validlink %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.new_password1.errors }}
                    <label class="form-label" for="id_new_password1">New Password:</label>
                    <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
                </div>
    
                <div class="mb-3">
                    {{ form.new_password2.errors }}
                    <label class="form-label" for="id_new_password2">Password confirmation:</label>
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
                </div>
    
                <div class="centralize" style="justify-content: right;">
                    <input style="padding: 9px 19px;" type="submit" class="btn-1" value="Change password">
                </div>
            </form>
    
            {% else %}
                <h1>Password reset failure</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Request a new password reset.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}