{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}

    <div>
        <div class="centralize">
            <h1>Reset password</h1>
        </div>
    
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="id_email">Email:</label>
                    <input type="email" name="email" class="form-control" id="id_email">
                </div>
    
                <div class="centralize" style="justify-content: right;">
                    <input style="padding: 9px 19px;" type="submit" class="btn-1" value="Reset password">
                </div>
            </form>
        </div>
    </div>

{% endblock %}